In [1]:
import pandas as pd

In [2]:
df = pd.read_stata('usa.dta')

In [3]:
df.head()

           gdp       inf        F         B
0  4119.500000  3.548619  8.47667  10.67670
1  4178.399902  3.645685  7.92333   9.76333
2  4261.299805  3.309139  7.90000   9.28667
3  4321.799805  3.469453  8.10333   8.84333
4  4385.600098  3.060950  7.82667   7.93667